<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>


	<log4net>
		<!--log4net 라이브러리에서 발생한 로그들을 appender-ref 목록에 있는 appender 들에게 전달-->
		<root>
			<level value="ALL"/>
			<appender-ref ref="DBAppender"/>
			<appender-ref ref="console"/>
			<appender-ref ref="file"/>
			<appender-ref ref="fatal_file"/>
		</root>


		<!--DB Appender-->
		<appender name="DBAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=2.0.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
			<connectionString value="Data Source=db202112031025_high;User Id=ADMIN;Password=Oracle12345!;"/>
			<commandText value="INSERT INTO EVENTS_LOG (ID,LOG_DATE,THREAD,LOG_LEVEL,LOGGER,MESSAGE,EXCEPTION) VALUES (EVENTS_LOG_SEQ.nextval, :log_date, :thread, :log_level, :logger, :message, :exception)"/>

			<parameter>
				<parameterName value=":log_date"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
			<parameter>
				<parameterName value=":thread"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":log_level"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":logger"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":exception"/>
				<dbType value="String"/>
				<size value="2000"/>
				<layout type="log4net.Layout.ExceptionLayout">
					<conversionPattern value="%exception"/>
				</layout>
			</parameter>
		</appender>


		<!--Console Appender-->
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>


		<!--File Appender-->
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="log\app.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>


		<!--Fatal File Appender-->
		<appender name="fatal_file" type="log4net.Appender.RollingFileAppender">
			<file value="log\fatal.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>


	</log4net>

</configuration>